/* цвет основного текста #212121*/

/* цвет вторичного текста #757575*/

/*#2196F3 акцент синий*/

/*#FFFFFF белый*/

/* вторичный цвет фона #F5F4FA */

/* футер копирайт rgba(255, 255, 255, 0.4); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* утилиты */

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  text-decoration: none;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* шапка */

.header-flex {
  display: flex;
  height: 80px;
  align-items: center;
  background-color: yellow;
}

/* лого */

.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

/* навигация  */

.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: block;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* контакты */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  display: block;
}

li.item + .item {
  margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* герой */

.hero {
  text-align: center;
  background-color: tomato;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  display: inline-block;
  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* преимущества */

.benefits-title {
  display: none;
}

.benefits-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 94px 0px;
  margin: auto;
  background-color: violet;
}

.benefits-item {
  border: 0;
  width: 278px;
  margin-right: 29px;
}

.benefits-item:nth-child(4n) {
  margin-right: 0px;
}

.benefits-subtitle {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

/* предоставляемые услуги */

.products-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.products-item {
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* команда */

.workers {
  background-color: #f5f4fa;
}

div {
  background-color: var(--primary-white-color);
}

.workers-title {
  color: var(--title-text-color);
}

.workers-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
}

.workers-item {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
}

/* клиенты */

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* футер */

footer {
  background-color: #2f303a;
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

address a {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer.contacts {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* соцсети */

.socials-subtitle {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* СТРАНИЦА portfolio.htm */

/* потрфолио */
.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio.title {
  color: var(--title-text-color);
}

/* примеры работ */

.examples.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples.item {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.examples.text {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
